/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  @apply hidden;
}


/* Add styles for active link underline */
.active li {
  position: relative;
}

.active li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #5f6FFF; /* Adjust this to your desired color */
}

/* Profile dropdown styles */
.group:hover .group-hover\:block {
  display: block;
}

.group-hover\:block {
  display: none;
}